html, body {
    height: 100%;
}

.lgv-container {
    height: 100%;
}

label {
    font-weight: normal;
}

*:not(.badge) {
    border-radius: 0 !important;
}


.lgv-container #cursorGlyph {
    position: absolute;
    z-index: 1000;
    cursor: none;
}

.glyphicon-check, .glyphicon-unchecked, .glyphicon-download, .glyphicon-upload, .glyphicon-chevron-down, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-refresh, .glyphicon-folder-close, .glyphicon-folder-open {
    cursor: pointer;
}

@media (max-width: 767px) {
    .btn-glyphicon, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-info-sign, .glyphicon-check, .glyphicon-unchecked, .glyphicon-envelope, .glyphicon-book {
        font-size: 18px !important;
    }
    html, body {
        font-size: 16px;
    }
}

@media (min-height:200px){
    #poibody{
        max-height:120px;
    }
}

@media (min-height:250px){
    #poibody{
        max-height:200px;
    }
}

@media (min-height:300px){
    #poibody{
        max-height:220px;
    }
}

@media (min-height:480px){
    #poibody{
        max-height:400px;
    }
}

@media (min-height: 768px) {
    #poibody{
        max-height:700px;
    }
}

#poibody{
    overflow:auto;
}

/*bootstrap überschreiben*/
.list-group {
    margin-bottom: 0px !important;
}

.form-group:last-child {
    margin-bottom: 0px;
}

/******* Ajax Loader *******/
#loader
{
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

#loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.cluster{
    font-size:25px;
    border-radius:30px!important;
    float:left;
    margin:10px;
}
