<!DOCTYPE html>
<div class="form-group">
    <select id="select-kreis" class="form-control">
        <option disabled selected hidden>Landkreis auswählen</option>
        <% _.each(kreise, function (element) { %>
            <% if (element === kreis) { %>
                <option selected><%= element %></option>
            <% }
            else { %>
                <option><%= element %></option>
            <% } %>
        <% }); %>
    </select>
</div>
<% if (kreis !== "") { %>
<div class="form-group">
    <select id="select-gemeinde" class="form-control">
        <option disabled selected hidden>Amt/Samtgemeinde auswählen</option>
        <% _.each(gemeinden, function (element) { %>
            <% if (typeof gemeinde !== "undefined" && element === gemeinde) { %>
                <option selected><%= element %></option>
            <% }
            else { %>
                <option><%= element %></option>
            <% } %>
        <% }); %>
    </select>
</div>
<% } %>
<% if (typeof gemeinde !== "undefined") { %>
<div class="radio">
  <label class=" radio-inline">
    <input type="radio" name="direction" value="wohnort" <% if (typeof direction !== "undefined" && direction === "wohnort") { print ("checked")} %>>
    Wohnort
  </label>
  <label class=" radio-inline">
    <input type="radio" name="direction" value="arbeitsort" <% if (typeof direction !== "undefined" && direction === "arbeitsort") { print ("checked")} %>>
    Arbeitsort
  </label>
</div>
<% } %>
<% if (typeof direction !== "undefined") { %>
<table class="table">
    <% _.each(pendlerLegend, function(kreis){ %>
        <tr>
            <td><div class="form-group pull-left animation_legend" style="background-color:<%= kreis.color %>"></div></td>
            <td><%=kreis.kreis%> (Gesamt: <%=kreis.anzahl_pendler%>)</td>
        </tr>
    <% }); %>
</table>
<hr>
<div class="form-group pull-right">
    <% if (animating === true) { %>
        <button class="btn btn-default reset">
            <span class="glyphicon glyphicon-stop"></span>&nbsp;Reset
        </button>
    <% }
    else { %>
        <button class="btn btn-default start">
            <span class="glyphicon glyphicon-play"></span>&nbsp;Start
        </button>
    <% } %>
</div>

<% } %>
