.verkehrsstaerken_rad .data {
    white-space: nowrap;
    text-align: center;
}
.verkehrsstaerken_rad .nav-pills {
    padding: 6px;
}

.verkehrsstaerken_rad .tab-content {
    overflow: auto;
}

.verkehrsstaerken_rad .text-align-center {
    text-align: center;
}
.verkehrsstaerken_rad .pointer {
    cursor: pointer;
}
.verkehrsstaerken_rad .graph {
    position: relative;
    width: 500px;
    height: 250px;
}
.verkehrsstaerken_rad .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.verkehrsstaerken_rad .dot {
    cursor: pointer;
    stroke: none;
    fill: steelblue;
}
.verkehrsstaerken_rad .dot_visible {
    cursor: pointer;
    stroke: none;
    fill: red;
}
.verkehrsstaerken_rad .dot_invisible {
    display: none;
}
.verkehrsstaerken_rad .domain {
    fill: none;
    stroke:#000;
}
.verkehrsstaerken_rad .graph-tooltip-div {
    display: inline-block;
    position: absolute;
    color: black;
    padding: 2px;
    border: 2px solid white;
    text-align: center;
}
