/* Bootstrap Popover Klassen */
.popover {
    padding: 0;
    max-width: 600px;
    border: 0;
    z-index: 1;
}

.popover-content {
    padding: 0;
}

.gfi .panel {
    margin-bottom: 0;
}
.gfi .has-image {
    max-width: 25vw;
}
/* Desktop GFI */
.gfi {
    border: 1px solid rgb(229, 229, 229);
    min-width: 25vw;
    max-width: 45vw;
    color: rgb(85, 85, 85);
    font-family: "UniversNextW01-Regular",sans-serif;
}

.gfi > .gfi-header {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.gfi > .gfi-header > .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gfi > .gfi-header > .buttons {
    margin: 0 0 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.gfi > .gfi-content {
    max-height: 50vh;
    font-size: 13px;
    overflow: auto;
}

.gfi .gfi-image-zoom-button {
    top: -17px;
    background-color: white;
    padding: 2px;
}

.gfi .gfi-image-copyright {
    top: -19px;
    position: relative;
    font-size: 0.9em;
    padding: 2px;
    background-color: white;
}

.gfi table {
    margin: 0;
}

/* Desktop Detached */
.gfi-detached {
    position: absolute;
    top: 50px;
    margin: 10px 10px 30px 10px;
    display: hide;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.300);
}

.gfi-detached > .gfi-header > .title {
    cursor: move;
}

.gfi-footer {
    padding: 0;
    color: rgb(119, 119, 119);
    text-align: center;
    font-size: 22px;
}

.gfi-footer > div {
    background: #f3f3f3;
    padding: 6px;
    cursor: pointer;
    width: 50%;
}

.gfi-footer > .disabled {
    cursor: not-allowed;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
}

.gfi-footer > .pager-left {
    float: left;
    border-right: 1px solid #ddd;
}

.gfi-footer > .pager-right {
    float: right;
}

.gfi-iFrame {
    width: 100%
}
